<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
    <http pattern="/login.html" security="none"/>
    <http pattern="/nologin.html" security="none"/>
    <http pattern="/style.css" security="none"/>
    <http pattern="/js/*" security="none"/>
    <http pattern="/images/*" security="none"/>
    
    <http>
    	<intercept-url pattern="/index.jsp" access="ROLE_ADMIN,ROLE_USER,ROLE_GUEST"/>
        <intercept-url pattern="/Administracion/Usuarios/**" access="ROLE_ADMIN" />
         <intercept-url pattern="/asatributo/**" access="ROLE_ADMIN" />
          <intercept-url pattern="/tbtipoclase/**" access="ROLE_USER" />
        <intercept-url pattern="/**" access="ROLE_ADMIN,ROLE_USER" />
        <form-login
         login-page='/login.html' 
         default-target-url='/index.jsp'         
         authentication-failure-url="/nologin.html" 
         always-use-default-target='true'/>
        <access-denied-handler error-page="/denied.html" />
        <logout logout-success-url="/IGF2015v1/logout.html" invalidate-session="true" />      
    </http>
    
<!--     <authentication-manager> -->
<!--         <authentication-provider> -->
<!--             <user-service> -->
<!--                 <user name="admin" password="admin" -->
<!--                       authorities="ROLE_USER, ROLE_ADMIN"/> -->
<!--                 <user name="bob" password="bob" -->
<!--                       authorities="ROLE_USER"/> -->
<!--             </user-service> -->
<!--         </authentication-provider> -->
<!--     </authentication-manager> -->
    
    
<!--     <beans:bean name="bcryptEncoder" -->
<!-- 	class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/> -->
	
	<beans:bean name="md5" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>

<authentication-manager>
<authentication-provider>
<!-- 	<password-encoder ref="bcryptEncoder"/> -->
	<password-encoder ref="md5"/>
	<user-service>
	<user name="admin@admin" password="21232f297a57a5a743894a0e4a801fc3"
			authorities="ROLE_USER, ROLE_ADMIN" />
	<user name="user@user" password="ee11cbb19052e40b07aac0ca060c23ee"
			authorities="ROLE_USER" />
    <user name="root@root" password="63a9f0ea7bb98050796b649e85481845"
			authorities="ROLE_USER" />
	</user-service>
</authentication-provider>
</authentication-manager>
    
</beans:beans>