<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
	<session-factory >
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="current_session_context_class">thread</property>
		<property name="show_sql">true</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.show_sql">true</property>

		<!-- Use the C3P0 connection pool. -->
		<property name="c3p0.min_size">3</property>
		<property name="c3p0.max_size">5</property>
		<property name="c3p0.timeout">1800</property>

		<!-- Disable second-level cache. -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="cache.use_query_cache">false</property>
		<property name="cache.use_minimal_puts">false</property>
		<property name="max_fetch_depth">3</property>

		<!-- Print SQL to stdout. -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<!-- Use "validate" to keep schema data on SessionFactory build -->
		<!-- Use "create" to drop and then re-create schema on SessionFactory build, 
			for testing. -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Bind the getCurrentSession() method to the thread. -->
		<property name="current_session_context_class">thread</property>

		<!-- Hibernate XML mapping files -->

		

		<!-- MAPPING -->
		<mapping class="sv.edu.ues.igf115.model.AsAtributo" />
		<mapping class="sv.edu.ues.igf115.model.AsClase" />
		<mapping class="sv.edu.ues.igf115.model.AsClaseInterface" />
		<mapping class="sv.edu.ues.igf115.model.AsInterface" />
		<mapping class="sv.edu.ues.igf115.model.AsInterfaceImplementa" />
		<mapping class="sv.edu.ues.igf115.model.AsMetodo" />
		<mapping class="sv.edu.ues.igf115.model.AsMetodoPK" />
		<mapping class="sv.edu.ues.igf115.model.AsParametro" />
		<mapping class="sv.edu.ues.igf115.model.AsParametroPK" />
		<mapping class="sv.edu.ues.igf115.model.TbAplicativo" />
		<mapping class="sv.edu.ues.igf115.model.TbTipoAtributo" />
		<mapping class="sv.edu.ues.igf115.model.TbTipoClase" />
		<mapping class="sv.edu.ues.igf115.model.TbTipoMetodo" />
		<mapping class="sv.edu.ues.igf115.model.Usuarios" />


	</session-factory>
</hibernate-configuration>
